* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
  --mainColor: #b4c600;
  --maxPageWidth: 1200px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
}

p {
  line-height: 130%;
  margin: 1rem 0 0.5rem;
}

h1, h2, h3 {
  margin: 1rem 0 0.5rem;
}

div#wrapper {
  width: 100%;
  max-width: var(--maxPageWidth);
  margin:auto;
}

