* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
	text-decoration: none;
	box-sizing: border-box;
}

body {
  --mainColor: #c2b8c2;
  --maxPageWidth: 1250px;
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: 300;
  background-color: beige;
}

p {
  line-height: 130%;
  margin: 1rem 0 0.5rem;
}

h1, h2, h3 {
  margin: 1rem 0 0.5rem;
}

ul, ol {
	margin-left: 20px;
}

pre {
	background: #f0f0f0; 
	border: thin solid lightgray;
	border-width:1px;
	padding:5px;
	border-radius:5px;
	-moz-tab-size:3;
	tab-size:3;
	margin-bottom: 5px;
	font-family: 'Roboto Mono', monospace;
	white-space: pre-wrap;
	overflow: auto;
  line-height: 130%;
}

pre.bblack {
	background-color: black;
	color: white;
}

div#wrapper {
  width: 100%;
  max-width: var(--maxPageWidth);
  margin:auto;
}

div.note, div.notes {
	margin: 10px 0px;
	padding: 10px;
	background-color: rgb(247, 247, 245);
}

div.notes {
	counter-reset: notes;
}

div.note > p, div.notes > p {
	margin-top: 1rem;
}

div.notes p::before {
	counter-increment: notes;
	/*content: "Σημ." counter(notes) ": ";*/
	content: "" counter(notes) ": ";
	font-weight: bold;
}

div.note::before {
	content: "Σημείωση";
	display: block;
	font-weight: bold;
}
div.notes::before {
	content: "Σημειώσεις";
	display: block;
	font-weight: bold;
}

/* sections-----------------------------------------*/
section {
	margin-left: 10px;
}
section > section {
	margin-left: 10px;
}
section > section > section {
	margin-left: 10px;
}